.gridPane{
    -fx-background-color: #33ab33;
    -fx-background-radius: 30.0;
}

.pane{
    -fx-background-radius: 30.0;
    -fx-background-color: #33ab33;
    -fx-border-width: 0;
}

.seeInfoButton{
    -fx-background-radius: 15.0;
}

.button:pressed:hover{
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button:hover{
    -fx-background-color: #13139f;
    -fx-text-fill: white;
    -fx-scale-y: 1.1;
}
